
section {
	display: block;
	width: 100%;
	height: 1008px;
}

.bgImage {
	width: 100%;
	opacity: 50%;
  z-index: -1;
}

.section1 {
	background-color: aquamarine;
}
.section1 h1{
  z-index: 0;
}

.section2 {
	background-color: palevioletred;
}

.section3 {
	background-color: lightskyblue;
}

.section4 {
	background-color: mediumpurple;
}

footer {
	height: 300px;
}

