@import "default.css";

section {
	width:100%;
	height: 1008px;
}

.section1 {
	background-color: aquamarine;
	-webkit-box-shadow: inset 0 0 3rem	rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 0 3rem	rgba(0,0,0,0.5);
	box-shadow: inset 0 0 3rem	rgba(0,0,0,0.5);
}

.section1 h1{
  z-index: 0;
}

.section2 {
	background-color: palevioletred;
}

.section3 {
	background-color: lightskyblue;
}

.section4 {
	background-color: mediumpurple;
}

footer {
	height: 300px;
}

.heading{
	width: fit-content;
	text-align: center;
	margin: 0 auto;
	padding: 0.875rem 0; /*14px 0*/
	color: #f8f8e8;
	text-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.3); /*2px 2px 4px*/
	font-size: 1.75rem; /*28px*/
}

.fa-bars{
	z-index: 3;

}